.Sidebar {
   display: flex;
   width: 100%;
   height: 95vh;


}


.left{
    width: 300px;
    background: var(--inverted-bg-color);
    transition: width 0.3s linear;
    padding: 0 20px;
}

.right {
    padding: 40px;
    flex-grow: 1;
}

.collapsed {
    width: 80px;
    transition: width 0.3s linear;
}


