.Link{
    font-size: 14px;
    color : #46453f;
    padding: 15px;
}


.primary {
    border : 2px solid var(--additional-color);
    border-radius: 20px;
    color : darkgrey;
}



.secondary {
    border : 2px solid var(--additional-color);
    color : darkgrey
}


